html, body, #root, .App {
    height: 100%;
    width: 100%;
    position: relative;
}

form{
    height: 100%;

    display: grid;
    grid-template-rows: 500px 50px auto;
}

pre{
    overflow: auto;
    padding: 50px;
}